<!doctype html>
<html lang="zh" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My little cabin</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="fonts/font.css">
</head>
<body id="app">
    <div  id="scroll" class="scroll" onclick="backTop()" style="top:-900px"></div>
    <div class="content" >
        <header class="header">
            <a href="#">
                <div class="logo"></div>
                <h1>MY muyue</h1>
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="notes.html">Notes</a></li>
                    <li><a href="others.html">Others</a></li>
                    <li><a href="about.html">about</a></li>
                    <li style="border: none"><a href="https://github.com/LancelotLake" >Github</a></li>
                </ul>
            </nav>
        </header>
        <section class="wrapper">
            <section class="card">
                <div class="typing-wrap">
                    <span class="typed" id="typed" ></span>
                    <span class="typed-cursor">|</span>
                </div>
                <div class="hhh">
                    <input type="checkbox" id="toggle" style="display: none">
                    <label class="switch pristine" for="toggle">
                        <div class="handle"></div>
                    </label>
                </div>
            </section>
            <section class="notes" >
                <div class="h1">Notes</div>
                <ul class="notes-list" id="notes">
                    <li class="note-item" v-for='(item, index) in noteList' v-if="index<8">
                        <div class="time" style="cursor: inherit">{{ item.time }}</div>
                        <a v-on:click="navigator(item.name, item.time)" >{{ item.name }}</a>
                    </li>
                </ul>
            </section>
            <section class="others">
                <div class="h1">Others</div>
                <ul class="others-list" id="others">
                    <li class="other-item" v-for="(item, index) in otherList" v-if="index<7">
                        <a class="title" v-on:click="navigator(item.title, item.decs)" >{{ item.title }}</a>
                        :
                        <p class="decs" style="cursor: inherit">{{ item.decs }}</p>
                    </li>

                </ul>
            </section>
        </section>

    </div>
    <footer class="footer">
        <div class="footer-left">Just a little worm in the tree</div>
        <div class="footer-right">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="notes.html">Notes</a></li>
                <li><a href="others.html">Others</a></li>
                <li><a href="about.html">about</a></li>
                <li style="border: none"><a href="https://github.com/LancelotLake" >Github</a></li>
            </ul>
        </div>
    </footer>

    <script>
        let type = document.getElementById("typed");
        let i = 0, timer;
        let strs = [
            "我总将自己的烦恼埋藏在心中，以掩饰我的忧虑和敏感。\n伪装出一副天真无邪的模样，逐渐将自己塑造成一个搞笑怪人\n---- 太宰治 《人间失格》",
            "你不愿意种花，你说，我不愿看见它一点点凋落。\n是的，为了避免结束，你避免了一切开始。\n  ---- 顾城 《避免》",
            "如果有来生，要做一只鸟，飞越永恒，没有迷途的苦恼。\n东方有火红的希望，南方有温暖的巢床，向西逐退残阳，向北唤醒芬芳。如果有来生，希望每次相遇，都能化为永恒。\n----三毛《说给自己听》",
            "勇敢是：当你还未开始就已知道自己会输，可你依然要去做，而且无论如何都要把它坚持到底。\n你很少能赢，但有时也会。\n---- 《杀死一只知更鸟》"
        ];
        let str = strs[getRandomInt(strs.length)];
        function typing () {

            if (i <= str.length) {
                type.innerHTML = str.slice(0, i++);
                timer = setTimeout('typing()', 100)
            }
            else {
                clearTimeout(timer)
            }
        }

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }


        document.getElementById("toggle").addEventListener("change",function(){
            let label = document.querySelector(`[for=${this.id}]`);
            label.classList.remove("pristine");
        });


        typing();

    </script>
    <script src="js/Vue.js"></script>
    <script src="js/marked.js"></script>
    <script src="js/main.js"></script>
    <script src="js/scroll.js"></script>
</body>
</html>