<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="fonts/font.css">
</head>
<body id="app">
    <div  id="scroll" class="scroll" onclick="backTop()" style="top:-900px"></div>
    <div class="content" >
        <header class="header">
            <a href="#">
                <div class="logo"></div>
                <h1>MY muyue</h1>
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="notes.html">Notes</a></li>
                    <li><a href="others.html">Others</a></li>
                    <li><a href="about.html">about</a></li>
                    <li style="border: none"><a href="https://github.com/LancelotLake" >Github</a></li>
                </ul>
            </nav>
        </header>
        <section class="wrapper">
            <section class="card">
                <div class="typing-wrap">
                    <span class="typed" id="typed" ></span>
                    <span class="typed-cursor">|</span>
                </div>
                <div class="hhh">
                    <input type="checkbox" id="toggle" style="display: none">
                    <label class="switch pristine" for="toggle">
                        <div class="handle"></div>
                    </label>
                </div>
            </section>
            <section class="notes" >
                <div class="h1">Archives</div>
                <ul class="notes-list" id="notes">
                    <li class="note-item" v-for='(item, index) in noteList' v-if="index<8">
                        <div class="time" style="cursor: inherit">{{ item.time }}</div>
                        <a v-on:click="navigator(item.name, item.time)" >{{ item.name }}</a>
                    </li>
                </ul>
            </section>
            <section class="others">
                <div class="h1">Others</div>
                <ul class="others-list" id="others">
                    <li class="other-item" v-for="(item, index) in otherList" v-if="index<7">
                        <a class="title" v-on:click="navigator(item.title)" >{{ item.title }}</a>
                        :
                        <p class="decs" style="cursor: inherit">{{ item.decs }}</p>
                    </li>

                </ul>
            </section>
        </section>

    </div>
    <footer class="footer">
        <div class="footer-left">Just a little worm in the tree</div>
        <div class="footer-right">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </footer>

    <script>
        let type = document.getElementById("typed");
        let str =   "Some people are always grumbling because roses have thorns; I am thankful that thorns have roses.\n" +
            "有些人总是抱怨玫瑰有尖刺，我却要感激尖刺上长出了玫瑰。\n" +
            "---- Alphonse Karr";
        let i = 0, timer;

        function typing () {
            if (i <= str.length) {
                type.innerHTML = str.slice(0, i++);
                timer = setTimeout('typing()', 80)
            }
            else {
                clearTimeout(timer)
            }
        }


        document.getElementById("toggle").addEventListener("change",function(){
            let label = document.querySelector(`[for=${this.id}]`);
            label.classList.remove("pristine");
        });


        typing();

    </script>
    <script src="js/Vue.js"></script>
    <script src="js/marked.js"></script>
    <script src="js/main.js"></script>
    <script src="js/scroll.js"></script>
</body>
</html>